p {
  padding-bottom: 2em;
  margin: unset;
}

.App {
  text-align: center;
}

.Weather-logo {
  height: 11vmin;
  pointer-events: none;
  background-color: white;
  background-blend-mode: difference;
  border-radius: 6vmin;
  padding: 25px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
