p {
  padding-bottom: 2em;
  margin: unset;
}

.App {
  text-align: center;
}

.Weather-logo {
  height: 11vmin;
  pointer-events: none;
  background-color: white;
  background-blend-mode: difference;
  border-radius: 6vmin;
  padding: 25px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-content {
  background-color: #282c34;
  padding-top: 4em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.circle-loader {
  fill: transparent;
  stroke: #fff;
  stroke-width: 5;
  animation: dash 1.5s ease infinite, rotate 1.5s linear infinite;
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 95;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 85, 95;
    stroke-dashoffset: -25;
  }
  100% {
    stroke-dasharray: 85, 95;
    stroke-dashoffset: -93;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
